[submodule "simulation/reconfig_backend"]
	path = simulation/reconfig_backend
	url = https://github.com/opusfabric/astra-sim-hybrid-parallelism
	commit = aeaff4a4d6c2ec799316daa05bb96773614d2843
[submodule "simulation/analytical_backend"]
	path = simulation/analytical_backend
	url = https://github.com/EricDinging/astra-sim-hybrid-parallelism 
	commit = 6411f0c1f61391db0ab2e92ac39344f7f03bc7ae
[submodule "simulation/symbolic_tensor_graph"]
	path = simulation/symbolic_tensor_graph
	url = https://github.com/astra-sim/symbolic_tensor_graph.git
[submodule "nccl"]
	path = nccl
	url = https://github.com/EricDinging/opus-nccl
[submodule "torchtitan"]
	path = torchtitan
	url = https://github.com/EricDinging/torchtitan-opus